.tooltip-container {
  position: relative; 
  font-size: 0.8rem;
}

.tooltip-container::after {
  opacity: 0;
  pointer-events: none;
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--text-color-dark);
  color: var(--text-color-light);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  white-space: nowrap;
  z-index: 10;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.tooltip-container.visible::after {
  opacity: 1;
  transform: translate(-50%, -0.5rem);
}




